.container {
  background-color: var(--red);
  padding: 6px 14px;

  .dataLabel {
    font-weight: 400;
    color: var(--white);
  }
  
  .dataSource {
    font-weight: 600;
    color: var(--white);
  }  

  .dataLabel, .dataSource {
    font-size: 12px;
    margin-top: 20px;
  }
}
